@charset "shift_jis";

table{
width:100%;
font-size:16px;
margin:10px 0;
border-collapse: collapse;
border-spacing:0px;
}
th{
background-color:#EBEBEB;
padding:0;
}
td{
background-color:#FFFFFF;
padding:0;
}
table,td,th{
border:solid 1px #CCC;
}
td,th{
overflow: hidden;
}
table#toptbl,table#toptbl td,table#toptbl th{
   border:none;
}
#menu .ritem td,#rmenu .ritem td{border:none;}
.rtitle {
height: 44px;
text-align: center;
overflow: hidden;
padding: 4px;
}
.rimg {
text-align: center;
}
.timg img{
max-width:200px;
height:auto;
}
.price {
color: #CC0000;
font-weight: bold;
}
.tdesc {
text-align: left;
vertical-align: top;
}
table.tstand {
table-layout: auto;
width: auto;
border-collapse: collapse;
}
table.tstand td {
padding: 5px;
text-align: center;
vertical-align: top;
background-color: #FFFFFF;
}
table.tstand th.colh {
padding: 5px;
text-align: center;
vertical-align: top;
background-color: #4682B4;
color: #FFF;
}
table.tstand th.rowh {
padding: 5px;
text-align: center;
vertical-align: top;
background-color: #EBEBEB;
color:#000;
}
table.tstand, table.tstand td, table.tstand th {
border: solid 1px #C0C0C0;
}

table.tstand2 {
table-layout: auto;
width: auto;
border-collapse: collapse;
}
table.tstand2 td {
padding: 5px;
text-align: left;
vertical-align: top;
background-color: #FFFFFF;
}
table.tstand2 th.colh {
padding: 5px;
text-align: center;
vertical-align: middle;
font-weight: normal;
background-color: #4682B4;
color: #FFF;
}
table.tstand2 th.rowh {
padding: 5px;
text-align: center;
vertical-align: middle;
font-weight: normal;
background-color: #EBEBEB;
color:#000;
}
table.tstand2, table.tstand2 td, table.tstand2 th {
border: solid 1px #C0C0C0;
}

table.tstandm {
table-layout: auto;
width: auto;
border-collapse: collapse;
}
table.tstandm td {
padding: 5px;
text-align: center;
vertical-align: middle;
background-color: #FFFFFF;
}
table.tstandm th.colh {
padding: 5px;
text-align: center;
vertical-align: middle;
background-color: #4682B4;
color: #FFF;
}
table.tstandm th.rowh {
padding: 5px;
text-align: center;
vertical-align: middle;
background-color: #EBEBEB;
color:#000;
}
table.tstandm, table.tstandm td, table.tstandm th {
border: solid 1px #C0C0C0;
}

table.tstandm2 {
table-layout: auto;
width: auto;
border-collapse: collapse;
}
table.tstandm2 td {
padding: 5px;
text-align: center;
vertical-align: middle;
background-color: #FFFFFF;
}
table.tstandm2 th.colh {
padding: 5px;
text-align: center;
vertical-align: middle;
background-color: #4682B4;
color: #FFF;
}
table.tstandm2 th.rowh {
padding: 5px;
text-align: center;
vertical-align: middle;
font-weight: normal;
background-color: #EBEBEB;
color:#000;
}
table.tstandm2, table.tstandm2 td, table.tstandm2 th {
border: solid 1px #C0C0C0;
}

table.tstandm3 {
table-layout: fixed;
border-collapse: collapse;
}
table.tstandm3 td {
padding: 5px;
text-align: center;
vertical-align: middle;
background-color: #FFFFFF;
}
table.tstandm3 th.colh {
padding: 5px;
text-align: center;
vertical-align: middle;
font-weight: normal;
background-color: #4682B4;
color: #FFF;
}
table.tstandm3 th.rowh {
padding: 5px;
text-align: center;
vertical-align: middle;
font-weight: normal;
background-color: #EBEBEB;
color:#000;
}
table.tstandm3, table.tstandm3 td, table.tstandm3 th {
border: solid 1px #C0C0C0;
}

table.tstandl2 {
table-layout: auto;
width: auto;
border-collapse: collapse;
}
table.tstandl2 td {
padding: 5px;
text-align: left;
vertical-align: middle;
background-color: #FFFFFF;
}
table.tstandl2 th.colh {
padding: 5px;
text-align: center;
vertical-align: middle;
font-weight: normal;
background-color: #4682B4;
color: #FFF;
}
table.tstandl2 th.rowh {
padding: 5px;
text-align: left;
vertical-align: middle;
font-weight: normal;
background-color: #EBEBEB;
color:#000;
}
table.tstandl2, table.tstandl2 td, table.tstandl2 th {
border: solid 1px #C0C0C0;
}

.ritm{
background-color:#FFFFFF;
table-layout:fixed;
}
.ritm th,.ritm td{
padding:6px;
line-height: 120%;
vertical-align:top;
text-align: center;
}
.tokusho {
}
.tokusho th, .tokusho td {
padding: 8px;
}
.tokusho th {
background-color: #E3E3E3;
width: 30%;
}
.ritm_desc {
}
.ritm_desc td {
vertical-align: top;
padding: 10px;
}
.ritm_desc .title {
background-color: #EBEBEB;
padding: 5px;
margin-bottom: 8px;
text-align:left;
line-height:120%;
font-family: 'HGP創英角ｺﾞｼｯｸUB', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W6', sans-serif;
font-weight:normal;
}
.ritm_desc .title a{
color:#333;
}
.ritm_desc .title a:hover{
color:#FF0000;
}
.ritm_desc .desc{
padding:20px;
}
.ritm_desc .price {
text-align: left;
padding: 0px;
}
.ritm_desc .img {
width: 20%;
}
.ritm_desc .more, .ritm_desc .price, .ritm_desc .review {
line-height: 25px;
height: 25px;
margin-right: 5px;
margin-left: 5px;
}
table.rnk1item {
table-layout:auto;
}
.rnk1item td,.rnk1item th{
border:none;
border-bottom:dotted 1px #CCC;
}
.rnk1item th {
background-color: #FFF;
width: auto;
padding:5px;
vertical-align:middle;
}
.rnk1item td {
background-color: #FFFFFF;
vertical-align: top;
font-size: 12px;
line-height: 130%;
padding: 15px 10px;
}
.rnk1item .ttitle {
font-size: 18px;
font-weight: bold;
margin-bottom: 12px;
line-height: 130%;
}
.rnk1item th, .rnk1item td {
}
.rnk1item .timg {
width: auto;
padding-top: 10px;
vertical-align:middle;
}
.rnk1item .alt th, .rnk1item .alt td {
}
table.rnk2item {
table-layout:auto;
}
.rnk2item .timg, .rnk2item .tdesc {
padding: 8px;
vertical-align: top;
}
.rnk2item th.ttitle {
padding: 10px;
text-align: left;
font-size: 16px;
}
.rnk2item td.tdesc {
width:100%;
}
.rnk2item td.timg {
width:auto;
}
.rnk2item td.tdesc,.rnk2item td.timg {
border:none;
}
.rnk2item .timg img {
padding-bottom: 10px;
height:auto;
}
.rnk2item .tdesc {
line-height: 150%;
}
table.rnk2item table.ttable {
width:101%;
margin: 0px;
padding: 0px;
border:none;
table-layout:fixed;
}
.ttable th, .ttable td {
padding: 8px;
line-height:130%;
text-align: center;
border:none;
border-right:dotted 1px #CCC;
}
.rnk3item {
table-layout:auto;
}
.rnk3item th {
text-align: left;
padding: 8px;
font-size: 17px;
}
.rnk3item th img {
vertical-align: bottom;
margin-right: 6px;
}
.rnk3item td {
padding: 10px;
border:none;
}
.rnk3item td.timg {
text-align: center;
width: auto;
}
.rnk3item .img-center{
width:auto;
display:inline;
}
.rnk3item th img{
float:left;
}
.prc1item {
table-layout:auto;
}
.prc1item th {
padding: 6px;
text-align: center;
}
.prc1item td {
text-align: center;
padding: 6px;
}
.prc1item td {
text-align: center;
padding: 6px;
}
.prc1item .alt td {
background-color: #F5F5F5;
}
.prc1item .price {
text-align: right;
width: 100px;
font-size:15px;
}
.dsc1item,.dsc2item {
background-color: #CCCCCC;
table-layout:fixed;
}
.dsc1item th, .dsc1item td,.dsc2item th, .dsc2item td {
padding: 6px;
}
.dsc1item th{
width:30%;
}
.dsc1item th , .dsc2item th {
text-align: center;
}
.dsc1item td , .dsc2item td {
vertical-align: top;
}
.tblmenu1item td {
font-size: 12px;
line-height: 130%;
vertical-align:top;
border:none;
}
.tblmenu1item td .ttitle {
background-color: #EEEEEE;
font-weight: bolder;
padding: 7px;
margin-bottom: 8px;
font-size: 13px;
}
.rank1,.rank2,.rank3,.rank4,.rank5,.point,.point1,.point2,.point3,.point4,.point5,.point6,.point7,.point8,.point9,.point10{
font-family: sans-serif;
font-weight:bold;
_zoom: 1;
overflow: hidden;
}
h4{
clear:none;
}
h4,h5,h6,ul,ol{
_zoom: 1;
overflow: hidden;
}
.lbg{
line-height:140%;
}
.rank1,.rank2,.rank3,.rank4,.rank5 {
background-repeat: no-repeat;
height: 25px;
font-size: 18px;
margin:10px 0 15px 0;
padding: 35px 0 5px 65px;
color: #333;
border-bottom:dotted 1px #666;
clear: both;
}
.rank1{
background-image: url(./img/rank1_a.gif);
}
.rank2{
background-image: url(./img/rank2_a.gif);
}
.rank3{
background-image: url(./img/rank3_a.gif);
}
.rank4{
background-image: url(./img/rank4_a.gif);
}
.rank5{
background-image: url(./img/rank5_a.gif);
}
.point1,.point2,.point3,.point4,.point5 ,.point6 ,.point7 ,.point8 ,.point9 ,.point10 {
background-repeat: no-repeat;
height: 26px;
padding-left: 46px;
font-size: 16px;
margin-top: 10px;
padding-top: 14px;
margin-bottom: 10px;
border-bottom:dotted 2px #CCC;
color: #3F3F3F;
background-position: 4px top;
clear: both;
}
.point {
font-size: 16px;
color: #333;
background-image: url(./img/point.png);
background-repeat: no-repeat;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 60px;
margin-bottom: 5px;
line-height:130%;
}
.point1{
background-image: url(./img/point1.gif);
}
.point2{
background-image: url(./img/point2.gif);
}
.point3{
background-image: url(./img/point3.gif);
}
.point4{
background-image: url(./img/point4.gif);
}
.point5{
background-image: url(./img/point5.gif);
}
.point6{
background-image: url(./img/point6.gif);
}
.point7{
background-image: url(./img/point7.gif);
}
.point8{
background-image: url(./img/point8.gif);
}
.point9{
background-image: url(./img/point9.gif);
}
.point10{
background-image: url(./img/point10.gif);
}
.arrow_blue,.arrow_orange,.arrow_black,.arrow_red{
background-repeat: no-repeat;
font-weight: bold;
line-height: 160%;
font-size: 16px;
background-position: left center;
padding-left: 25px;
margin-top: 3px;
margin-bottom: 3px;
_zoom: 1;
overflow: hidden;
}
.arrow_blue {
background-image: url(./img/arrow_blue.gif);
}
.arrow_orange {
background-image: url(./img/arrow_orange.gif);
}
.arrow_black {
background-image: url(./img/arrow_black.gif);
}
.arrow_red {
background-image: url(./img/arrow_red.gif);
}
blockquote {
font-size:12px;
color:#666666;
border: 2px dotted #CCCCCC;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
margin: 15px;
line-height: 130%;
}
.alert,.accept,.attention,.thint{
font-size: 13px;
line-height: 130%;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 55px;
margin-top: 10px;
margin-bottom: 10px;
background-position:8px 3px;
}
.alert {
background-color: #FFEFEF;
background-image: url(./img/alert.png);
background-repeat: no-repeat;
color: #A2462F;
border: 1px solid #FABDA7;
}
.accept {
border: 1px solid #C2E39B;
background-color: #EFFADA;
background-image: url(./img/accept.png);
background-repeat: no-repeat;
color: #346F15;
}
.attention {
border: 1px solid #FDE8A8;
background-color: #FEF8E0;
background-image: url(./img/attention.png);
background-repeat: no-repeat;
color: #804900;
}
.thint {
border: 1px solid #C5D7ED;
background-color: #EFF4FA;
background-image: url(./img/thint.png);
background-repeat: no-repeat;
color: #2C4F7A;
}
 .user1,.user2 {
font-size: 12px;
line-height: 130%;
padding-top: 12px;
padding-right: 12px;
padding-bottom: 12px;
padding-left: 100px;
margin-top: 10px;
margin-bottom: 10px;
background-repeat: no-repeat;
background-position: 12px 12px;
background-color: #EFF4FA;
border: 1px solid #C5D7ED;
min-height: 70px;
_height:70px;
_zoom: 1;
overflow: hidden;
}
 .user1{
background-image: url(./img/user1.png);
}
 .user2{
background-image: url(./img/user2.png);
}
.noimage{
padding-left:12px;
background-image: none;
min-height:15px;
}
.ylw{
background-color:#FFE566;
font-weight:bold;
padding:2px;
}
.nmlbox,.dottbox,.ylwbox,.graybg{
padding:15px;
margin-top: 10px;
margin-bottom: 10px;
clear:both;
}
.graybg{
background-color:#EBEBEB;
}
.dottbox{
border:dotted 1px #666;
}
.nmlbox {
border: 2px solid #CCCCCC;
}
.ylwbox {
background-color: #FFFFD2;
border: 2px solid #CC0000;
}
.ybox,.ybox1,.ybox2 {
padding: 4px 2px 0.7em 2px;
clear: both;
}
.ybox {
background-color: #FFFBF0;
}
.ybox1 {
background-color: #FFFBF4;
border: 1px solid #FFCF9B;
}
.ybox2 {
background-color: #FFFFFF;
border: 1px solid #FFCF9B;
}
.grybox {
padding: 4px 2px;
background-color: #f7f7f7;
border: solid 1px #dadada;
clear:both;
}
.grybox1 {
padding: 4px 4px;
margin: 0px 8px;
background-color: #f2f2f2;
}
.matbox1 {
display: inline-block;
background: #ffaf58;
color: #ffffff;
font-weight: bold;
border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
padding: 0 0.8em;
margin 0;
}
.matbox2 {
display: block;
border: solid 2px #ffaf58;
padding: 0.5em 1em 0.7em 1em;
margin 0;
padding-left: 0;
}
.border1,.border2,.border3,.borderdot,.borderdot2{
margin: 10px;
padding: 0px;
line-height: 1px;
height: 1px;
_zoom: 1;
overflow: hidden;
}
.border1 {
border-bottom:solid 1px #999;
}
.border2 {
border-bottom:solid 1px #990000;
}
.border3 {
border-bottom:solid 1px #003366;
}
.borderdot {
border-top:dotted 1px #999;
}
.borderdot2 {
border-top:dotted 2px #999;
}
.layout_l{
float:left;
}
.layout_r{
float:right;
}
.hd,.hd:hover,.hd:visited{
color:#333;
text-decoration:none;
}
.rnd1{
padding: 15px 10px;
margin: 15px auto 15px auto;
}
.rnd1{
position:relative;
z-index:1;
padding: 15px 10px;
margin: 15px auto 15px auto;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
}
.rbox1 {
background-color: #f0f0f0;
border: 1px solid #d7d7d7;
}
.rbox2 {
background-color: #FFF;
border: 2px solid #FF843F;
}
.rbox3 {
background-color: #FFF;
}
.rbox4 {
background-color: #F5F5F5;
}
.shadow1,.shadow2,.shadow3{
padding: 15px 10px;
margin: 15px auto 15px auto;
}
.shadow1{
-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
.shadow2{
-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.question1 {
font-size: 17px;
font-weight: bold;
line-height: 130%;
margin: 15px auto 4px auto;
padding: 5px 0 6px 50px;
background-image: url(./img/q1.png);
background-repeat: no-repeat;
background-position: 10px top;
}
.answer1 {
position:relative;
font-size: 13px;
line-height:140%;
border:solid 1px #CCC;
background-color:#F5F5F5;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
margin: 5px auto 35px auto;
padding: 20px 20px 20px 60px;
background-image: url(./img/a1.png);
background-repeat: no-repeat;
background-position: 12px 18px;
}
.question2 {
font-size: 17px;
font-weight: bold;
line-height: 130%;
margin: 20px auto 4px auto;
padding: 5px 0 6px 50px;
background-image: url(./img/q2.png);
background-repeat: no-repeat;
background-position: 10px top;
}
.answer2 {
position:relative;
font-size: 13px;
line-height:140%;
margin: 5px auto 15px auto;
padding: 10px 10px 20px 50px;
background-image: url(./img/a2.png);
background-repeat: no-repeat;
background-position: 10px 12px;
border-bottom:dotted 1px #CCC;
}
.bln{
font-size:13px;
line-height:130%;
_zoom: 1;
overflow: hidden;
padding:0;
margin: 0;
color: #333333;
}
.b_body{
margin:0;
width:auto;
padding:12px 19px;
_zoom: 1;
overflow: hidden;
}
.balloon1 .b_body{
background-color:#F5F5F5;
border:solid 1px #CCC;
}
.balloon2 .b_body{
background-color:#FFF;
border:solid 1px #CCC;
}
.balloon3 .b_body{
background-color:#EBEBEB;
}
.balloon4 .b_body{
background-color:#EAF1FF;
border:solid 1px #6AA3F9;
}
.balloon5 .b_body{
background-color:#FFEAEA;
border:solid 1px #F96565;
}
.balloon6 .b_body{
background-color:#FFF;
border:solid 2px #CC0000;
}
.balloon7 .b_body{
background-color:#FFF;
border:solid 2px #0080B8;
}
.balloon8 .b_body{
background-color:#FFF;
border:solid 2px #FF8201;
}
.balloon9 .b_body{
background-color:#FFF;
border:2px solid #739221;
}
.bln .img-l{
position:relative;
z-index:100;
background-image:url(./img/balloon.png);
top: 18px;
left:1px;
float:left;
width: 28px;
height: 19px;
margin:0;
}
.bln .img-r{
position: relative;
z-index:100;
background-image:url(./img/balloon.png);
top: 18px;
right:1px;
float:right;
width: 28px;
height: 19px;
margin:0;
}
.bln .img-t{
position: relative;
z-index:100;
background-image:url(./img/balloon.png);
top:1px;
left: 30px;
width: 22px;
height: 22px;
float:none;
margin:0;
}
.bln .img-b{
position: relative;
z-index:100;
background-image:url(./img/balloon.png);
bottom:1px;
left: 30px;
width: 22px;
height: 22px;
margin:0;
}
div.bln:after{height:0; visibility: hidden; content: ".";   display: block; clear: both;}
.balloon1 .img-b{ background-position: 0 0;} 
.balloon1 .img-l{ background-position: 0 -72px;} 
.balloon1 .img-r{ background-position: 0 -139px;} 
.balloon1 .img-t{ background-position: 0 -206px;} 
.balloon2 .img-b{ background-position: 0 -278px;} 
.balloon2 .img-l{ background-position: 0 -350px;} 
.balloon2 .img-r{ background-position: 0 -417px;} 
.balloon2 .img-t{ background-position: 0 -484px;} 
.balloon3 .img-b{ background-position: 0 -556px;} 
.balloon3 .img-l{ background-position: 0 -628px;} 
.balloon3 .img-r{ background-position: 0 -695px;} 
.balloon3 .img-t{ background-position: 0 -762px;} 
.balloon4 .img-b{ background-position: 0 -834px;} 
.balloon4 .img-l{ background-position: 0 -906px;} 
.balloon4 .img-r{ background-position: 0 -973px;} 
.balloon4 .img-t{ background-position: 0 -1040px;} 
.balloon5 .img-b{ background-position: 0 -1112px;} 
.balloon5 .img-l{ background-position: 0 -1184px;} 
.balloon5 .img-r{ background-position: 0 -1251px;} 
.balloon5 .img-t{ background-position: 0 -1318px;} 
.balloon6 .img-b{ background-position: 0 -1390px;bottom:2px;} 
.balloon6 .img-l{ background-position: 0 -1462px;left:2px;} 
.balloon6 .img-r{ background-position: 0 -1531px;right:2px;} 
.balloon6 .img-t{ background-position: 0 -1600px;top:2px;} 
.balloon7 .img-b{ background-position: 0 -1672px;bottom:2px;} 
.balloon7 .img-l{ background-position: 0 -1744px;left:2px;} 
.balloon7 .img-r{ background-position: 0 -1813px;right:2px;} 
.balloon7 .img-t{ background-position: 0 -1882px;top:2px;} 
.balloon8 .img-b{ background-position: -78px 0;bottom:2px;} 
.balloon8 .img-l{ background-position: -78px -72px;left:2px;}
.balloon8 .img-r{ background-position: -78px -141px;right:2px;}
.balloon8 .img-t{ background-position: -78px -210px;top:2px;}
.balloon9 .img-b{ background-position: -78px -282px;bottom:2px;} 
.balloon9 .img-l{ background-position: -78px -354px;left:2px;} 
.balloon9 .img-r{ background-position: -78px -423px;right:2px;} 
.balloon9 .img-t{ background-position: -78px -492px;top:2px;} 
* {
margin: 0;
padding: 0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
blockquote:before, blockquote:after, q:before, q:after {
content: '';
content: none;
}
body { line-height: 1 }
ol, ul { list-style: none }
blockquote, q { quotes: none }
div, p, h1, h2, h3, h4, h5, h6 {
_zoom: 1;
display: block;
text-align: left;
}
img {
border: 0;
max-width: 100%;
}
:focus { outline: 0 }
ins { text-decoration: none }
del { text-decoration: line-through }
span.sup { vertical-align: super; font-size:80% }
span.sub { font-size:80% }
.t-big {
font-size: 18px;
}
.tt-big {
font-size: 18px;
}
.t-bold {
font-weight: bold;
}
.bigbold {
font-size: 18px;
font-weight: bold;
}
.bigbold-r {
font-size: 18px;
font-weight: bold;
color: #f33;
}
.radio-s {
font-weight: normal;
}
.pad-lr {
padding: 0 0.4em;
}
.pad-l {
padding-left: 0.4em;
}
.pad-r {
padding-right: 0.4em;
}
.paduppc {
text-align: center;
padding-top: 20px;
}
.paddwpc {
text-align: center;
padding-bottom: 20px;
}
.padle1spa2,.padle1 {
padding-left: 1em;
}
.padle2spa2,.padle2 {
padding-left: 2em;
}
.padle1spa2,.padle2spa2 {
word-spacing: 2em;
}
.maruppc {
margin-top: 20px;
}
.mardwpc {
margin-bottom: 20px;
}
.indent1 {
padding-left: 1em;
text-indent: -1em;
}
.indent15 {
padding-left: 1.5em;
text-indent: -1.5em;
}
.indent2 {
padding-left: 2em;
text-indent: -2em;
}
.indent25 {
padding-left: 2.5em;
text-indent: -2.5em;
}
.indent3 {
padding-left: 3em;
text-indent: -3em;
}
.indent35 {
padding-left: 3.5em;
text-indent: -3.5em;
}
.indentg {
padding-left: 1em;
text-indent: -1em;
line-height: 1.4em;
font-size: 15px;
}
.ar-box1 {
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border: 1px solid #d1d1d1;
padding: 10px;
margin: 8px 8px;
}
.ar-imgbox1 {
min-width: 162px;
margin-right: 10px;
float: left;
text-align: center;
}
.ar-textbox1 {
width: 100%;
}
.ar-title1 {
font-size: 16px;
font-weight: bold;
line-height: 140%;
margin-bottom: 0px;
}
.ar-make1 {
font-size: 14px;
line-height: 140%;
margin-bottom: 18px;
}
.ar-desc1 {
font-size: 14px;
line-height: 130%;
margin-bottom: 18px;
}
.ar-arbox1 {
font-size: 15px;
margin-bottom: 10px;
}
.ar-yellow1,.ar-red1,.ar-blue1 {
padding-left: 20px;
background-repeat: no-repeat;
background-position: left center;
_zoom: 1;
overflow: hidden;
display: inline;
}
.ar-yellow1 {
background-image: url(img/ar-yellow.gif);
margin-right: 20px;
}
.ar-red1 {
background-image: url(img/ar-red.gif);
margin-right: 20px;
}
.ar-blue1 {
background-image: url(img/ar-blue.gif);
}
.clear { clear: both; }
.ar-box2 {
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border: 1px solid #d1d1d1;
padding: 6px 2px;
margin: 4px 0;
}
.ar-imgbox2 {
min-width: 112px;
margin-right: 2px;
float: left;
text-align: center;
}
.ar-textbox2 {
width: 100%;
}
.ar-title2 {
font-size: 15px;
line-height: 120%;
margin-bottom: 10px;
}
.ar-arbox2 {
font-size: 15px;
}
.ar-yellow2,.ar-red2,.ar-blue2 {
padding-left: 20px;
background-repeat: no-repeat;
background-position: left center;
_zoom: 1;
overflow: hidden;
}
.ar-yellow2 {
background-image: url(img/ar-yellow.gif);
margin-right: 14px;
margin-bottom: 4px;
display: inline;
}
.ar-red2 {
background-image: url(img/ar-red.gif);
margin-bottom: 4px;
display: inline;
}
.ar-blue2 {
background-image: url(img/ar-blue.gif);
}
.ar-box3 {
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border: 1px solid #d1d1d1;
padding: 10px;
margin: 8px 8px;
}
.ar-imgbox3 {
min-width: 112px;
margin-right: 10px;
float: left;
text-align: center;
}
.ar-textbox3 {
width: 100%;
}
.ar-title3 {
font-size: 16px;
font-weight: bold;
line-height: 140%;
margin-bottom: 0px;
}
.ar-make3 {
font-size: 14px;
line-height: 140%;
margin-bottom: 14px;
}
.ar-arbox3 {
font-size: 15px;
margin-bottom: 10px;
}
.ar-yellow3,.ar-red3,.ar-blue3 {
padding-left: 20px;
background-repeat: no-repeat;
background-position: left center;
_zoom: 1;
overflow: hidden;
display: inline;
}
.ar-yellow3 {
background-image: url(img/ar-yellow.gif);
margin-right: 20px;
}
.ar-red3 {
background-image: url(img/ar-red.gif);
margin-right: 20px;
}
.ar-blue3 {
background-image: url(img/ar-blue.gif);
}
.ar-box4 {
margin: 8px 0;
}
.ar-title4 {
background-image: url(img/ar-arrow-black.gif);
padding-left: 18px;
margin-bottom: 6px;
background-repeat: no-repeat;
background-position: left 40%;
_zoom: 1;
overflow: hidden;
font-size: 15px;
}
.ar-imgbox4 {
min-width: 130px;
margin-right: 30px;
float: left;
text-align: center;
}
.ar-arbox4 {
width: 100%;
font-size: 15px;
margin-bottom: 8px;
}
.ar-yellow4,.ar-red4,.ar-blue4 {
padding-left: 20px;
margin-bottom: 4px;
background-repeat: no-repeat;
background-position: left center;
_zoom: 1;
overflow: hidden;
}
.ar-yellow4 {
background-image: url(img/ar-yellow.gif);
}
.ar-red4 {
background-image: url(img/ar-red.gif);
}
.ar-blue4 {
background-image: url(img/ar-blue.gif);
}
.ar-box5 {
width: 232px;
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border: 1px solid #d1d1d1;
padding: 10px;
margin: 0 0 8px 20px;
float: right;
}
.ar-imgbox5 {
min-width: 112px;
margin: 0 8px 6px 0;
float: left;
text-align: center;
}
.ar-arbox5 {
font-size: 15px;
margin-bottom: 10px;
}
.ar-yellow5,.ar-red5,.ar-blue5 {
padding-left: 20px;
margin-bottom: 6px;
background-repeat: no-repeat;
background-position: left center;
_zoom: 1;
overflow: hidden;
}
.ar-yellow5 {
background-image: url(img/ar-yellow.gif);
}
.ar-red5 {
background-image: url(img/ar-red.gif);
}
.ar-blue5 {
background-image: url(img/ar-blue.gif);
}
.ar-textbox5 {
width: 100%;
clear: left;
}
.ar-title5 {
font-size: 15px;
font-weight: bold;
line-height: 120%;
}
.ar-make5 {
font-size: 14px;
line-height: 120%;
}
.ar-arrow-green {
padding-left: 18px;
margin: 0 8px;
line-height: 120%;
background-image: url(img/ar-arrow-green.gif);
background-repeat: no-repeat;
background-position: left center;
_zoom: 1;
overflow: hidden;
}
.c-orange {
padding-left: 14px;
background-image: url(img/c-orange.gif);
background-repeat: no-repeat;
background-position: left center;
_zoom: 1;
overflow: hidden;
}
.headline {
padding-left: 0.5em;
margin-bottom: 8px;
border-left: solid 5px #ffaf58;
display: inline-block;
}
.nheadline,.nheadline1 {
padding-left: 0.5em;
border-left: solid 5px #ffaf58;
font-weight: bold;
display: inline-block;
}
.nheadline1 {
margin-bottom: 0.5em !important;
}
.formula,.tejun,.chuui {
font-size: 13px;
font-weight: bold;
color: #fff;
text-align: center;
padding-top: 2px;
line-height: 18px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
}
.formula {
margin-right: 8px;
background: #ff0000;
width: 32px;
display: inline-block;
}
.tejun {
margin-left: 8px;
background: #92bbf7;
width: 48px;
}
.chuui {
margin-left: 8px;
background: #ff0000;
width: 48px;
}
.tejunt3,.chuuit3 {
float: left;
width: 60px;
}
.tejund,.chuuid {
width: auto;
margin-left: 60px;
margin-bottom: 4px;
line-height: 22px;
}
.cheadline,.cheadline3 {
font-size: 14px;
font-weight: bold;
color: #fff;
text-align: center;
background: #919191;
padding-top: 2px;
line-height: 20px;
border-radius: 11px;
-webkit-border-radius: 11px;
-moz-border-radius: 11px;
}
.cheadline {
width: 46px;
}
.cheadline3 {
width: 60px;
}
.cheadlinet,.cheadlinet3 {
float: left;
padding-left: 4px;
}
.cheadlinet {
width: 46px;
}
.cheadlinet3 {
width: 60px;
}
.cheadlined,.cheadlined3 {
font-weight: bold;
width: auto;
margin-bottom: 10px;
line-height: 24px;
}
.cheadlined {
margin-left: 52px;
}
.cheadlined3 {
margin-left: 66px;
}
.tb14t img {
margin: 14px 8px;
}
p.tb14t {
text-align: center;
}
body {
background-color: #fff;
background-image: url(img/body_bg.jpg);
color: #333;
font-size: 14px;
line-height: 180%;
margin: 0;
padding: 0;
text-align: center;
}
h1, h2, h3, h4, h5, h6, .title, dt {
font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Verdana,'ＭＳ Ｐゴシック',sans-serif;
font-weight: 700;
overflow:hidden;
}
h1, h2, h3, h4, h5, h6, .title { text-shadow: 0 1px 1px #CCC }
a { color: #1284BA }
a:active, a:focus { outline: 0 }
img {
border: 0;
max-width: 100%;
}
.clear {
clear: both;
font-size: 1px;
}
p {
margin: 0 auto;
width: auto;
}
a img { background: none !important }
a:hover img {
-ms-filter: "alpha( opacity=60 )";
background: none !important;
filter: alpha(opacity=60);
opacity: 0.6px;
}
#main ul,#main ol{
margin:auto -3em 1em 0;
padding:0;
position:relative;
left:-3em;
overflow:hidden;
}
#main li{
margin-top:0.25em;
margin-bottom:0.25em;
}
#main ul ul,#main  ul ol,
#main ol ol,#main  ol ul{
margin-left:1em;
padding-left:0;
}
#main ul li,#main  ol li{
margin-left:5em;
}
#main ul li{
list-style-image:url(img/li.gif);
}
#main ol li{
    list-style-type: decimal;
}
#main li li{
margin-left:1em;
}
#main #whatsnew ul,#main #mainmenu ul,#main #sitemaps ul{
margin:0;
position:static;
left:0;
}
#main #whatsnew ul li,#main #sitemaps ul li{
list-style-image:none;
margin:0;
}
ul.items {
margin-bottom: 0 !important;
}
ul.items li {
list-style-image: none !important;
}
ul.items li:before {
display: inline-block;
content: ' ';
width: 10px;
height: 10px;
background: #ffaf58;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
margin-left: -16px;
margin-right: 6px;
margin-bottom: 1px;
}
ul.itemss {
margin-bottom: 0 !important;
}
ul.itemss li {
list-style-image: none !important;
}
ul.itemss li:before {
display: inline-block;
content: ' ';
width: 6px;
height: 6px;
background: #ffaf58;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
margin-left: 3px;
margin-right: 4px;
margin-bottom: 1px;
}
ul.itemsg {
margin-bottom: 0 !important;
}
ul.itemsg li {
list-style-image: none !important;
}
ul.itemsg li:before {
display: inline-block;
content: '';
width: 7px;
height: 7px;
background: #999999;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
margin-left: -13px;
margin-right: 6px;
margin-bottom: 2px;
}
#wrapper {
margin: 0 auto;
padding: 0;
width: 1100px;
}
#wrapper .inner {
width: 1100px;
text-align: center;
}
#contents .inner {
background-image: url(img/contents_bg.jpg);
background-position: left bottom;
background-repeat: repeat-x;
padding-bottom: 30px;
}
.txt-img img{
margin:0 8px 8px 8px;
}
.center {
margin-bottom: 5px;
margin-top: 5px;
text-align: center;
}
.float-l { float: left }
.float-r { float: right }
.float-l img {
margin-bottom: 10px;
margin-right: 10px;
}
.float-r img {
margin-bottom: 10px;
margin-left: 10px;
}
.clear, .FloatEnd { clear: both }
#pageNavi {
font-size: 12px;
padding: 5px;
}
#pagetop {
clear: both;
font-size: 12px;
text-align: right;
width: 92px;
float: left;
margin-right: 40px;
}
#pagetop a {
background-image: url(img/pagetop_button.png);
background-position: right top;
background-repeat: no-repeat;
height: 37px;
display: block;
color: #5d5d5d;
padding-top: 40px;
padding-right: 15px;
}
#searchbox {
font-size: 12px;
height: 30px;
line-height: 30px;
padding-left: 10px;
padding-right: 10px;
padding-top: 0px;
position: absolute;
text-align: right;
top: 25px;
width: 1080px;
}
#searchbox input {
margin-left: 2px;
margin-right: 2px;
vertical-align: middle;
}
#searchbox form {
margin: 0;
padding: 0;
}
#main a:hover, #menu a:hover, #rmenu a:hover {
left: 1px;
position: relative;
top: 1px;
}
#top {
background-image: url(img/body_bg.jpg);
background-repeat: repeat-x;
height: 145px;
width: auto;
}
#top h1 {
display: block;
font-size: 14px;
font-weight: 400;
line-height: 20px;
padding: 5px 10px;
width: auto;
color: #666;
font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Verdana,'ＭＳ Ｐゴシック',sans-serif;
}
#top #logo a {
color: #666;
text-decoration: none;
}
#header {
background-color: #666;
background-position: center top;
background-repeat: no-repeat;
height: 160px;
width: auto;
margin: 0 auto;
margin-top: 17px;
background-image: url(img/header.jpg);
}
#header .topimg { float: right }
#header .title, #header h2 {
font-size: 34px;
line-height: 120%;
position: relative;
left: 60px;
top: 80px;
width: 680px;
}
#header .title a, #header h2 a {
color: #FFF;
text-decoration: none;
}
#headertext {
width: 650px;
position: relative;
left: 60px;
top: 80px;
padding: 8px;
color: #FFF;
font-size: 13px;
line-height: 130%;
filter: alpha(opacity=65);
-moz-opacity: 0.65;
opacity: 0.65;
}
#topmenu {
font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,Verdana,'ＭＳ Ｐゴシック',sans-serif;
font-weight: 700;
height: 48px;
position: absolute;
top: 89px;
background-image: url(img/topmenu.jpg);
background-repeat: no-repeat;
width: 1100px;
margin: 0px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 4px;
overflow:hidden;
}
#topmenu ul {
padding: 0;
width: 1090px;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
_zoom: 1;
overflow: hidden;
}
#topmenu li {
width: 16.7%;
text-align: center;
float: left;
border: 0px;
background-image: url(img/topmenu_list_bg.jpg);
background-repeat: no-repeat;
background-position: left center;
padding: 0;
margin: 0;
margin-left: -2px;
}
#topmenu li a {
color: #ffffff;
text-decoration: none;
display: block;
height: 48px;
line-height: 18px;
margin-left: 2px;
margin-top: 6px;
}
#topmenu li a:hover {
text-decoration: underline;
position: relative;
top: 1px;
left: 1px;
}
#main {
position: relative;
float: right;
width: 770px;
}
#main p { margin: 0 8px }
#main h2 {
background-image: url(img/h2.png);
background-position: left top;
background-repeat: no-repeat;
font-size: 18px;
line-height: 100%;
color: #5b5b5b;
height: 58px;
margin: 8px auto 8px auto;
padding: 0px 0px 0px 80px;
overflow: hidden;
zoom: 1;
}
#main h2 span {
background-image: url(img/h2_r.png);
background-position: right top;
background-repeat: no-repeat;
display: block;
line-height: 58px;
height: 58px;
}
#main h3 {
background-image: url(img/h4.png);
background-position: left bottom;
background-repeat: repeat;
font-size: 16px;
line-height: 20px;
margin: 15px auto 10px;
padding: 10px 10px 5px 20px;
color: #fff;
}
#main h4 {
background-image: url(img/h5.png);
background-position: left center;
background-repeat: no-repeat;
font-size: 16px;
line-height: 130%;
margin: 10px auto;
padding: 5px 10px 5px 14px;
color: #323232;
border-bottom: 1px solid #dedede;
}
#main h5 {
background-image: url(img/h6.png);
background-position: left center;
background-repeat: no-repeat;
font-size: 16px;
line-height: 140%;
margin: 0 0 4px 0;
padding: 3px 10px 2px 20px;
color: #323232;
}
#main h6{
  font-size: 16px;
  margin: 8px auto;
}
#main .text { }
#text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9, #text10, #space1, #space2, #main .textbox, #main #whatsnew, #entrylist {
width: auto;
margin: 10px auto 25px auto;
padding: 15px 25px;
background-color: #FFF;
position: relative;
left: 0;
border: solid 1px #DEDEDE;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
-ms-border-radius: 7px;
-o-border-radius: 7px;
border-radius: 7px;
}
*html #main hr.border2 {
display : list-item;
width: 0;
list-style : url(img/border2_bg.png) inside;
}
#main hr.border2 {
border: 0;
height: 5px;
margin: 20px 0;
background: url(img/border2_bg.png) 100% 0 repeat-x;
}
#menu {
float: left;
width: 310px;
}
#menu .title, #rmenu .title, #menu h4, #rmenu h4 {
background-image: url(img/menu_h4.jpg);
background-position: left top;
background-repeat: repeat-x;
background-color: #363636;
color: #fff;
font-size: 14px;
min-height: 54px;
_height: 54px;
line-height: 14px;
font-weight: 700;
}
#menu .title span, #rmenu .title span, #menu h4 span, #rmenu h4 span {
background-image: url(img/menu_h4_r.jpg);
background-position: right top;
background-repeat: no-repeat;
padding-top: 26px;
padding-left: 20px;
padding-right: 70px;
padding-bottom: 4px;
display: block;
min-height: 24px;
_height: 54px;
}
#column2 .menubox, #column3 .menubox {
background-image: url(img/bg_menu_base_footer.jpg);
background-position: center bottom;
background-repeat: no-repeat;
background-color: #E7E7E7;
padding-bottom: 4px;
}
#column1 .menubox {
background-image: url(img/bg_menu_base_c1.jpg);
background-position: left bottom;
}
.menubox {
padding: 0;
background-repeat: no-repeat;
}
.menulist { padding: 0 5px 0px 5px }
.menulist ul li {
list-style-image: none;
list-style-type: none;
_margin-bottom: 0;
_display: inline-block;
}
#column2 .menulist ul li, #column3 .menulist ul li {
background-color: #FFF;
background-image: url(img/menu_bg.png);
background-position: left bottom;
background-repeat: no-repeat;
}
.menulist li a {
background-position: left top;
border-bottom-width: 1px;
color: #5b5b5b;
display: block;
font-size: 13px;
line-height: 18px;
text-decoration: none;
font-weight: 700;
padding: 11px 6px 11px 35px;
}
#column2 .menulist li a, #column3 .menulist li a {
background-image: url(img/menu_bg_list.png);
border-bottom: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #fff;
background-position: 5px center;
background-repeat: no-repeat;
}
#column2 .menulist .l2 a,#column3 .menulist .l2 a {
font-size: 12px;
padding-left: 55px;
font-weight: normal;
background-position: 25px center;
}
#column2 .menulist .l3 a,#column3 .menulist .l3 a {
font-size: 12px;
padding-left: 70px;
font-weight: normal;
background-position: 40px center;
}
#column2 .menubox_footer, #column3 .menubox_footer {
background-image: url(img/bg_menu_base_footer.jpg);
height: 5px;
background-position: left bottom;
}
.mmbox {
background-image: url(img/mm_bg.png);
background-repeat: no-repeat;
margin-top: 10px;
height: 82px;
text-align: center;
padding-top: 60px;
width: 310px;
}
.mmbox input { margin-top: 10px }
.mmbox span { display: none }
.bannerbox { margin-top: 5px }
.bannerbox li {
_display: inline;
display: block;
list-style-image: none;
list-style-type: none;
margin: 10px 0;
padding: 0;
}
.bannerbox li a {
background-image: none;
font-size: 15px;
margin: 0;
padding: 0;
}
.bannerbox li a img {
_margin: 2px 0;
display: block;
}
#menu ul#newEntry, #menu ul #entryarchive, #rmenu ul#newEntry, #rmenu ul #entryarchive {
display: block;
line-height: 140%;
margin-right: 5px;
margin-left: 5px;
background-color: #FFF;
padding-top: 10px;
padding-right: 5px;
padding-bottom: 10px;
padding-left: 5px;
}
ul#newEntry li, ul#entryarchive li {
background-image: url(img/sitemap_list.png);
background-position: left center;
background-repeat: no-repeat;
list-style-image: none;
list-style-type: none;
margin-left: 10px;
padding-left: 15px;
margin-bottom: 8px;
}
#newEntry li a, #entryarchive li a {
color: #323232;
text-decoration: underline;
font-size:13px;
line-height:125%;
}
#entryarchive li a:hover, #newEntry li a:hover {
color: #71B5D6;
text-decoration: underline;
}
#footer {
background-image: url(img/footer.jpg);
background-repeat: repeat;
height: 107px;
text-align: center;
}
#footer .inner {
color: #FFF;
line-height: 22px;
margin-left: auto;
margin-right: auto;
text-align: right;
width: 1100px;
}
#footer p { clear: both }
#footer a { text-decoration: none }
#footlink {
font-size: 12px;
text-align: left;
margin-top: 15px;
float: left;
width: 608px;
}
#footlink a {
background-position: left 2px;
background-repeat: no-repeat;
font-size: 12px;
margin: 0;
color: #fff;
}
#itmebox-l {
float: left;
margin-bottom: 15px;
}
#itmebox-c {
float: left;
margin-bottom: 15px;
}
#column1 #itmebox-c, #column2 #itmebox-c {
margin-right: 17px;
margin-left: 17px;
}
#column3 #itmebox-c { margin-left: 17px }
#itmebox-r {
float: left;
margin-bottom: 15px;
}
#itembox {
background-color: #fdfdfd;
border-left: 1px solid #dedede;
border-right: 1px solid #dedede;
padding-top: 6px;
padding-bottom: 6px;
}
#itembox img {
margin: 0;
padding: 0px 4px;
}
.itemtitle {
font-size: 14px;
width: 150px;
margin: 0 4px;
padding: 0 15px;
}
.itemtext {
width: 150px;
margin: 0 4px;
padding: 0 15px;
}
.itemheader {
background-image: url(img/bg_itembox_header.jpg);
height: 22px;
}
.itemfooter {
background-image: url(img/bg_itembox_footer.jpg);
height: 22px;
}
#column1 .text-float-l {
float: left;
margin-bottom: 20px;
margin-left: 10px;
width: 65%;
}
#column2 .text-float-l {
float: left;
margin-bottom: 20px;
margin-left: 10px;
width: 50%;
}
#column1 .text-float-r, #column2 .text-float-r {
float: right;
margin-bottom: 20px;
margin-right: 10px;
}
#column3 .text-float-l {
margin-bottom: 20px;
float: none;
}
#column3 .text-float-r {
margin-bottom: 20px;
float: none;
}
#main #whatsnew {
background-position: 0px 0px;
background-repeat: no-repeat;
margin-bottom: 20px;
padding: 0;
padding-top: 5px;
margin-top: 20px;
}
#main #whatsnew .title {
background-image: url(img/entry_listtitle.jpg);
background-position: left top;
background-repeat: repeat-x;
line-height: 18px;
padding-bottom: 20px;
padding-left: 40px;
padding-top: 16px;
height: 16px;
_height: 36px;
margin: 0;
margin-right: 8px;
color: #fff;
}
#main #whatsnew ul { margin: 0 15px 15px 15px }
#main #whatsnew li a { text-decoration: underline }
#main #whatsnew ul li {
border-bottom: 1px dotted #dedede;
margin-top: 15px;
margin-left:10px;
padding-bottom: 15px;
}
#main #whatsnew ul li span.date {
background-image: url(img/date_bg.png);
width: 62px;
height: 17px;
_width: 68px;
_height: 21px;
display: block;
letter-spacing: -1px;
float: left;
padding: 2px 3px;
color: #fff;
font-size: 12px;
line-height: 17px;
margin-right: 10px;
font-family: Segoe UI;
}
#main #whatsnew ul li span.title { display: block }
#categorylist {
padding: 10px;
position: relative;
}
#categorylist .catbox {
background-position: left bottom;
background-repeat: repeat-x;
margin-bottom: 10px;
background-color: #F5F5F5;
position: relative;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px #CCC;
-moz-box-shadow: 0 1px 2px #CCC;
box-shadow: 0 1px 2px #CCC;
padding-right: 12px;
padding-left: 12px;
}
#categorylist .catbox div { overflow: visible }
#categorylist .thumb {
background-color: #F3F3F3;
float: left;
margin-right: 15px;
width: 229px;
}
#categorylist .thumb img {
height: 165px;
width: 229px;
}
#categorylist .more {
text-align: right;
margin-top: 20px;
margin-right: 10px;
padding-bottom: 10px;
}
#categorylist .body {
font-size: 13px;
line-height: 135%;
}
#categorylist .title {
background-position: left bottom;
background-repeat: no-repeat;
font-size: 15px;
font-weight: 700;
padding-left: 40px;
padding-bottom: 10px;
background-image: url(img/category_title.jpg);
padding-top: 20px;
margin-bottom: 10px;
margin-top: 10px;
line-height: 20px;
}
#categorylist .title a {
color: #333;
font-weight: 700;
}
#categorylist .title a:hover {
color: #71B5D6;
font-weight: 700;
}
#pagelist {
margin-bottom: 10px;
margin-top: 10px;
padding: 10px;
text-align: center;
}
#pagelist li {
display: inline;
list-style-type: none;
}
#pagelist a {
background-color: #EBEBEB;
color: #666;
display: inline-block;
padding: 2px 10px;
text-align: center;
text-decoration: none;
width: 20px;
}
#pagelist a:hover {
background-color: #666;
color: #FFF;
}
#entrylist {
margin-bottom: 15px;
padding-top: 4px;
padding-right: 0;
padding-bottom: 4px;
padding-left: 0;
}
#entrylist h4 {
background-image: url(img/entry_listtitle.jpg);
background-position: left top;
background-repeat: repeat-x;
line-height: 18px;
padding-bottom: 20px;
padding-left: 40px;
padding-top: 16px;
height: 16px;
_height: 52px;
margin: 0;
margin-right: 8px;
color: #fff;
}
#entrylist dl {
margin: 0 10px;
padding: 0;
}
#entrylist dt {
background-color: #F5F5F5;
background-image: url(img/entry_listbg.jpg);
background-position: left top;
background-repeat: no-repeat;
font-size: 14px;
font-weight: 700;
line-height: 100%;
padding-bottom: 8px;
padding-left: 35px;
padding-top: 13px;
}
#entrylist dt a {
color: #323232 !important;
text-decoration: none;
}
#entrylist dd {
background-color: #F5F5F5;
color: #666666;
font-size: 13px;
line-height: 130%;
margin: 0 0 10px;
padding: 5px 10px 10px;
}
#entrylist dt a {
color: #323232 !important;
text-decoration: none;
}
#entrylist dt a:hover {
color: red;
text-decoration: underline;
}
#entrylist dd {
color: #666;
font-size: 13px;
line-height: 130%;
margin: 0 0 10px 0;
padding: 0 10px 10px 10px;
background-color: #f5f5f5;
}
#pagemenu {
margin-bottom: 15px;
padding-bottom: 10px;
padding-top: 10px;
text-align: center;
}
#pagemenu span a {
font-size: 14px;
font-weight: 700;
margin-left: 10px;
margin-right: 10px;
width: 150px;
}
#sitemaps ul {
margin: 0;
padding: 5px 15px;
}
#sitemaps li {
background-image: url(img/sitemap_list.png);
background-position: left center;
background-repeat: no-repeat;
list-style-image: none;
list-style-type: none;
padding-left: 16px;
}
#sitemaps .sbox1, #sitemaps .sbox2 {
width: 46%;
margin-top: 5px;
margin-bottom: 5px;
padding: 5px;
}
#sitemaps .sbox1 {
float: left;
clear: left;
}
#sitemaps .sbox2 {
float: right;
clear: right;
}
#main #sitemaps li.l1 {
font-size: 16px;
font-weight: 700;
margin-top: 8px;
}
#main #sitemaps li.l2 {
font-size: 12px;
margin-left: 25px;
}
#main #sitemaps li.l3 {
font-size: 12px;
margin-left: 50px;
}
#searchresult dt { font-size: 14px }
#searchresult dd {
border-bottom-color: #CCC;
border-bottom-style: dotted;
border-bottom-width: 1px;
font-size: 13px;
line-height: 130%;
margin: 0 0 10px;
padding-bottom: 15px;
}
#space1, #space2 {
margin-bottom: 15px;
width: auto;
}
#space3, #space4, #space5, #space6 {
font-size: 13px;
line-height: 150%;
padding: 10px;
background-color: #FFF;
margin: 0 5px;
}
.blog {
border-bottom-color: #CCC;
border-bottom-style: dotted;
border-bottom-width: 1px;
margin-bottom: 15px;
padding: 10px;
}
.blog .title {
color: #333;
font-size: 15px;
line-height: 140%;
margin-bottom: 5px;
}
.blog .info {
color: #666;
margin-bottom: 5px;
}
.blog .info a { color: #666 }
.blog .thumb {
float: left;
margin-right: 15px;
}
.blog .thumb img { max-width: 125px }
.blog .body { line-height: 150% }
.blog .more {
font-size: 14px;
font-weight: 700;
margin-bottom: 8px;
margin-top: 8px;
text-align: right;
}
#main .point1, #main .point2, #main .point3, #main .point4, #main .point5, #main .point6, #main .point7, #main .point8, #main .point9, #main .point10 {
border: medium none;
background-position: left bottom;
background-repeat: no-repeat;
font-weight: 700;
line-height: 110%;
padding-left: 65px;
padding-top: 25px;
padding-bottom: 14px;
margin: 5px 0px;
color: #323232;
font-size: 18px;
}
#main .point1 { background-image: url(img/point1.png) }
#main .point2 { background-image: url(img/point2.png) }
#main .point3 { background-image: url(img/point3.png) }
#main .point4 { background-image: url(img/point4.png) }
#main .point5 { background-image: url(img/point5.png) }
#main .point6 { background-image: url(img/point6.png) }
#main .point7 { background-image: url(img/point7.png) }
#main .point8 { background-image: url(img/point8.png) }
#main .point9 { background-image: url(img/point9.png) }
#main .point10 { background-image: url(img/point10.png) }

#main .txt-grayback,#main  .txt-colorback,#main .txt-line, #main .txt-frame,#main .txt-colorframe,#main .txt-rndbox,#main .txt-border,#main .txt-decbox1,#main .txt-decbox2{
margin: 0;
padding: 0;
border: none;
}
#main p.img-r,#main p.img-l{
margin:0;
padding:0;
}
#main .txt-grayback,#main  .txt-colorback,#main .txt-line, #main .txt-frame,#main .txt-colorframe,#main .txt-rndbox,#main .txt-border{
margin: 10px 5px 25px 5px;
padding: 30px;
}
#main .txt-border {
background-image: url(img/dott.gif);
line-height: 22px;
font-size: 13px;
margin: 10px;
padding: 0px;
background-position: 0px 5px;
}
#main .txt-border p {
line-height: 22px;
font-size: 13px;
}
#main .txt-line  {
border: 2px solid #CCCCCC;
margin:5px 0;
}
#main .txt-yellowback {
background-color: #FFF9DF;
border: 2px solid #CC0000;
}
#main .txt-grayback {
border: 1px solid #ECEAE7;
background-color: #FAF9F5;
}
#main .txt-colorback {
border:solid 1px #B2B2B2;
background-color: #FFF;
padding:0px;
}
#main .txt-colorback .body{
border:solid 1px #FFF;
padding:20px 25px;
background-color:#EFEFEF;
}
#main .txt-frame{
padding:4px;
background-color:#E9E9E9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
#main .txt-frame .body{
padding:20px 25px;
background-color:#FFF;
border:solid 1px #D5D5D5;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
#main .txt-colorframe{
background-color: #C9C9C9;
padding: 10px;
}
#main .txt-colorframe .body{
background-color: #FFF;
padding: 10px 20px;
border: 1px solid #AFAFAF;
-webkit-box-shadow: #AFAFAF 1px 2px 1px;
-moz-box-shadow: #AFAFAF 1px 2px 1px;
box-shadow: #AFAFAF 1px 2px 1px;
}
#main .txt-rndbox{
padding:3px;
background-color:#E9E9E9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
#main .txt-rndbox .top,#main .txt-rndbox .bottom{
display:none;
}
#main .txt-rndbox .body{
padding:28px 30px;
background-color:#FFF;
border:solid 1px #D9D9D9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
#main .txt-decbox1,#main .txt-decbox2 {
background-image: url(img/txt-dec1-bg.jpg);
background-repeat: repeat;
padding:30px;
margin-bottom:25px;
}
#main .txt-decbox1  .top,#main .txt-decbox2  .top{
padding:10px;
background-color:#FFF;
border-top:solid 1px #CCC;
border-left:solid 1px #CCC;
border-right:solid 1px #CCC;
}
#main .txt-decbox1  .body,#main .txt-decbox2  .body{
background-color:#FFF;
padding:10px 20px;
border-left:solid 1px #CCC;
border-right:solid 1px #CCC;
}
#main .txt-decbox1 .bottom,#main .txt-decbox2 .bottom{
background-color:#FFF;
height:20px;
border-bottom:solid 1px #CCC;
border-left:solid 1px #CCC;
border-right:solid 1px #CCC;
}
#main .rankbox {
font-size: 13px;
line-height: 160%;
margin-bottom: 15px;
margin-left: 5px;
margin-right: 5px;
padding: 15px 20px;
background-color: #FFF;
border: solid 4px #848484;
-webkit-box-shadow: 0 1px 2px #CCC;
-moz-box-shadow: 0 1px 2px #CCC;
box-shadow: 0 1px 2px #CCC;
}
#main .rankbox .float-l { margin-left: 10px }
#column2 #main .rankbox .float-r {
margin-right: 10px;
width: 55%;
}
#column1 #main .rankbox .float-r {
margin-right: 10px;
width: 65%;
}
#column3 #main .rankbox .float-r {
margin-right: 10px;
width: 95%;
}
#menu .rankbox {
border: 1px solid #EBEBEB;
font-size: 12px;
line-height: 150%;
margin-bottom: 15px;
padding: 15px;
}
.rankbox a {
color: #5b5b5b;
text-decoration: none;
}
.rankbox .more, .rankbox2 .more {
text-align: right;
margin-right: 15px;
margin-top: 15px;
}
#main .rank1, #main .rank2, #main .rank3 {
font-size: 18px;
font-weight: 700;
line-height: 130%;
padding-left: 65px;
padding-top: 15px;
padding-bottom: 30px;
background-repeat: no-repeat;
border: none;
_height: 63px;
margin: 5px 0 5px 0;
}
#main .rank4, #main .rank5, #main .rank6, #main .rank7, #main .rank8, #main .rank9, #main .rank10 {
font-size: 18px;
font-weight: 700;
line-height: 130%;
padding-left: 65px;
padding-top: 10px;
padding-bottom: 40px;
background-repeat: no-repeat;
border: none;
margin: 5px 0 5px 0;
_height: 63px;
}
.rank1 { background-image: url(img/rank1.png) }
.rank2 { background-image: url(img/rank2.png) }
.rank3 { background-image: url(img/rank3.png) }
.rank4 { background-image: url(img/rank4.png) }
.rank5 { background-image: url(img/rank5.png) }
.rank6 { background-image: url(img/rank6.png) }
.rank7 { background-image: url(img/rank7.png) }
.rank8 { background-image: url(img/rank8.png) }
.rank9 { background-image: url(img/rank9.png) }
.rank10 { background-image: url(img/rank10.png) }
#column1 { background: none }
#column1 #text1, #column1 #text2, #column1 #text3, #column1 #text4, #column1 #text5, #column1 #text6, #column1 #text7, #column1 #text8, #column1 #text9, #column1 #text10 { padding: 25px 35px }
#column1 #menu li {
display: inline;
margin: 0;
padding: 0;
}
#column1 #menu .menubox {
background-color: #FFF;
margin: 0;
padding: 5px 15px 15px;
}
#column1 #menu li a {
background: none;
border: none;
color: #666;
display: inline;
font-weight: 400;
margin: 0;
text-decoration: underline;
background-color: #FFF;
}
#column1 #menu li a, #column1 #menu li.l2 a, #column1 #menu li.l3 a {
margin: 0 5px;
padding: 0 5px;
}
#column2 #contents {
background-position: left top;
background-repeat: repeat-y;
padding-top: 10px;
}
#column3 #contents {
background-position: left top;
background-repeat: repeat-y;
}
#column3 #layoutbox {
background-position: left top;
background-repeat: repeat-y;
float: left;
width: 770px;
}
#column3 #main {
float: right;
width: 540px;
}
#rmenu {
float: right;
width: 310px;
}
#rmenu .menulist li { }
a:hover, .menulist li a:hover, .blog .title a:hover, #column1 #menu li a:hover { color: #71B5D6 }
dl, #contents, #menu ul, #rmenu ul, #main #whatsnew ul, #pagelist ul {
margin: 0;
padding: 0;
}
#entrylist dl { padding: 0px }
#searchresult { padding: 10px }
#entrylist dt a, .blog .title a { color: #333 }
#column1 #menu, #column1 #main {
float: none;
width: auto;
}
#top{
height:20px;
padding-bottom:50px;
}
#searchbox{
top:0px;
}
#topmenu{
top:34px;
}body{
font-size: 16px;
}
#header{ height: 160px; }
#headerbox {height:160px; }
#header h2 ,#header .title {
}
#header h2 a, #header h2 a:visited,#header .title a,#header .title a:visited{}
#headertext {
}
#main{ float: left; }
#column2 #menu,#column3 #menu{ float: right; }
#column3 #rmenu { float: left; }
#column3 #layoutbox { float: right; }
#column3 #main { float: left; }

#siteNavi {
font-size: 14px;
}
body,footer,#footer,#footer > div{font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka", Verdana,Arial, Helvetica, sans-serif;font-weight:normal;}
h1,h2,h3,h4,h5,h6,.title,dt,h3 > span,h4 > span,h5 > span,h6 > span,.title > span,div[id$="menu"] h4,div[id$="menu"] .title,#indexlist .title{font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka", Verdana,Arial, Helvetica, sans-serif !important;font-weight:bold;}
#entrylist h4,#entrylist h4::before{font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka", Verdana,Arial, Helvetica, sans-serif;font-weight:normal;}
.rank1,.rank2,.rank3,.rank4,.rank5,.rank6,.rank7,.rank8,.rank9,.rank10,.point,.point1,.point2,.point3,.point4,.point5,.point6,.point7,.point8,.point9,.point10{font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka", Verdana,Arial, Helvetica, sans-serif !important;font-weight:bold;}
#text1,#text2,#text3,#text4,#text5,#text6,#text7,#text8,#text9,#text10,#space1,#space2{font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka", Verdana,Arial, Helvetica, sans-serif;font-weight:normal;}

/* H4の色 */
.h4color,.h4color:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

/* H5の色 */
.h5color,.h5color:hover {
	color: #000000;
	text-decoration: underline;
}

/* H6の色 */
.h6color,.h6color:hover {
	color: #000000;
}

/* 左寄せテーブル */
table.tstandl {
	table-layout: auto;
	width: auto;
	border-collapse: collapse;
}
table.tstandl td {
	padding: 5px;
	text-align: left;
	vertical-align: top;
	background-color: #FFFFFF;
}
table.tstandl th.colh {
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #4682B4;
	color: #FFF;
}
table.tstandl th.rowh {
	padding: 5px;
	text-align: center;
	vertical-align: top;
	background-color: #EBEBEB;
	color:#000;
}
table.tstandl, table.tstandl td, table.tstandl th {
	border: solid 1px #C0C0C0;
}

/* 薄い背景BOX（attention） */
.ybox-at {
	background-color: #fef8e0;
	border-top: 1px solid #f9ead6;
	color: #804900;
	font-size: 14px;
	line-height: 1.4em;
	padding: 8px;
	margin: 0 0 10px;
}

/* 薄い背景BOX（accept） */
.gbox-ac {
	background-color: #effada;
	border-top: 1px solid #e4eddd;
	color: #346F15;
	padding: 8px;
	margin: 0 0 10px;
}

/* 表のキャプションの設定 */
.tablecap {
	caption-side: bottom;
	text-decoration: underline;
}

/* iphoneのh4マージントップ0 */
.h4mtop0 {
	margin-top: 15px !important;
}

/* iphoneのh5マージントップ0 */
.h5mtop0 {
	margin-top: 10px !important;
}

/* iphoneのh6マージントップ0 */
.h6mtop0 {
	margin-top: 0px !important;
}

/* ブロックで改行2em */
.block2 {
	margin-right: 2em;
	display: inline-block;
}

/* インラインブロック */
.inblock {
	display: inline-block;
}

/* オレンジの下線 */
.o-line {
	background: linear-gradient(transparent 90%, #ffaf58 90%);
	background: -moz-linear-gradient(transparent 90%, #ffaf58 90%);
	background: -webkit-linear-gradient(transparent 90%, #ffaf58 90%);
}

/* クイズのライン */
.q-line {
	border-top: solid 1px #dedede;
	height:1px;
	line-height:1px;
	margin: 0 0 10px !important;
}

/* 画像縮小 */
.half {
	height: auto;
	max-width: 100%;
}

/* 画像縮小(高さを制限) */
.htlist {
	max-height: 320px;
	width: auto;
	height: auto;
}

/* SNSボタン余白 */
.ninja_onebutton iframe { margin:0 10px;}

/* レ点見出し */
.reten {
	padding-left: 20px;
	font-weight: bold;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(img/reten-y.gif);
	_zoom: 1;
	overflow: hidden;
	display: inline;
}

/* 文字の囲み */
.cube {
	border-style: solid;
	border-width: 1px;
	border-color: #595757;
	font-size: 100%;
	border-radius: 2px;
	padding: 0px 1em;
	margin-left: 8px;
	margin-right: 8px;
	vertical-align: 3%;
	background-color: #f2f2f2;
}

/* 15px */
.f15px {
	font-size: 15px;
}

/* リンク色 */
a:hover {
	color: #71B5D6;
}

/* オレンジの丸見出し */
.o-circle {
	font-weight: bold;
	padding-left: 20px;
	text-indent: -20px;
}
.o-circle:before {
	display: inline-block;
	content: ' ';
	width: 12px;
	height: 12px;
	background: #ffaf58;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	margin-left: 2px;
	margin-right: 6px;
	margin-bottom: 0px;
}

/* 文中の補足用 */
.g-info {
	padding-left: 20px;
	text-indent: -20px;
	line-height: 1.4em;
	font-size: 15px;
}
.g-info:before {
	display: inline-block;
	content: ' ';
	width: 16px;
	height: 16px;
	background-image: url(img/g-info.gif);
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-right: 4px;
	margin-bottom: -2px;
}

/* 左向きの緑矢印 */
.g-arr {
	padding-left: 1px;
}
.g-arr:before {
	display: inline-block;
	content: ' ';
	width: 16px;
	height: 13px;
	background-image: url(img/g-arr.gif);
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
}

/* STEP吹き出し */
.step1, .step2, .step3, .step4, .step5 {
	background-color: #E8EAF6;
	border: 2px solid #E8EAF6;
	border-radius: 4px;
	margin: 20px 5px 5px 16px;
	padding: 25px 20px 10px 20px;
	position: relative;
}
.step1:before, .step2:before, .step3:before, .step4:before, .step5:before {
	background-color: #3F51B5;
	border-radius: 4px;
	color: #fff;
	padding: 2px 20px;
	position: absolute;
	left: -10px;
	top: -20px;
}
.step1:before {
	content: 'STEP1';
}
.step2:before {
	content: 'STEP2';
}
.step3:before {
	content: 'STEP3';
}
.step4:before {
	content: 'STEP4';
}
.step5:before {
	content: 'STEP5';
}

.step1:after, .step2:after, .step3:after, .step4:after, .step5:after {
	border-top: 12px solid #3F51B5;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	content: '';
	position: absolute;
	top: 7px;
	left: 15px;
}

/* 左マージン */
.m-left10 {
	margin-left: 10px;
}

/* 12px下マージン */
.mb12 {
	margin-bottom: 12px;
}

/* 一覧表用パディング */
.padlist {
	padding: 8px 0px;
	text-align: center;
}

/* 赤文字（太字） */
.text-red {
	color: #f33;
	font-weight: bold;
}

/* 赤文字（太字なし） */
.t-red {
	color: #f33;
}

/* 表の項目の赤文字（太字なし） */
.tt-red {
	color: #ff8585;
}

/* 太字なし */
.t-normal {
	font-weight: normal;
}

/* figure用マージン */
.m-fig {
	margin: 0 8px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

/* figcaption用マージン */
.m-figcap {
	margin-top: 5px;
	text-align: center;
}

/* PC横並びSP縦並び用マージン */
.ytm {
	margin-right: 16px;
}

/* PC横並びSP縦並び用上寄せ */
.vertop {
	vertical-align: top;
}

/* 黒白ボックス */
.box-bw {
	background-color: #E7E7E7;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 8px;
}
.box-bw-title {
	background-color: #494949;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0px 1px 1px #CCC;
	padding: 4px 20px;
}
.box-bw-in {
	background-color: #FFF;
	padding: 8px 5px;
	margin-left: 5px;
	margin-right: 5px;
}

/* 追尾ボックス */
#tuibi {
	background-color: #FFF;
	border-top: solid 5px #E7E7E7;
	padding-top: 8px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}